@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Colors:

Navy: 132a41
Coral: ee6978

*/

.logo-medium {
    width: 500px;
    margin-left: 20px;
}

.logo-font {
    font-family: 'Montserrat', sans-serif;
}

.logo-main {
    width: 500px;
}

.center-container {
    text-align: center
}

.divider-small {
    width: 20px;
    padding-bottom: 20px;
}

.navy-text {
    display: inline-block;
    color: #132a41;
}

.navy-text.card {
    margin-left: 20px;
    padding-right: 10px;
    text-align: left;
}
.sub-heading-navy {
    display: inline-block;
    color: #132a41;
    text-align: left !important;
}

.logo-hover {
    background-image: url('../images/logos/logosmall.png');
    height: 40px;
    width: 40px;
    opacity: 0.41;
    padding-bottom: 10px;
}

.card-outline {
    padding: 15px;
    height: 150px;
    width: 150px;
    text-align: center;
}


.select-underline {
  display: inline-block;
}

.select-underline:after {
  content: "";
  width: 0px;
  height: 3px;
  display: block;
  background: #ee6978;
  transition: 300ms;
}

.select-underline:hover:after {
  width: 100%;
  color: #0e1c33;
}

.service-item {
  
}

.service-item h1 {
    text-align: center;
    
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


    color: white;
    font-family: 'Open Sans', sans-serif;

}

.service-item .section-heading {
    color: #132a41;
    font-weight: 700;
    font-size: 14px;
}