@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* Colors:

Navy: #132a41
Coral: #ee6978

*/
.navy-body {
	background-color: #132a41;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	height: auto;
	min-height: 100%;
}

.absolute {
	position: absolute;
}

.full {
	height: auto;
}

.left {
	text-align: left !important;
}

a {
	text-decoration: none !important;
}
.coral {
	color: #ee6978;
}

.coral.bold {
	font-weight: 700;
}

.coral:hover {
	color: #ee6978;
}

.logo-medium {
	width: 500px;
	margin-left: 20px;
}

.logo-font {
	font-family: "Montserrat", sans-serif;
}

.logo-main {
	width: auto;
	height: 30vh;
	transition: 300ms ease;
}

.logo-main.datathon {
	width: auto;
	height: 20vh;
}

.logo-sub {
	width: auto;
	height: 8vh;
	transition: 300ms ease;
}

@media (max-width: 700px) {
	.logo-main {
		height: 25vh;
	}
	.logo-main.datathon {
		height: 16vh;
	}
	.logo-sub {
		height: 6vh;
	}
	.logo-main.welcomeBanner {
		height: 20vh;
	}
}

@media (max-width: 480px) {
	.logo-main {
		height: 18vh;
	}
	.logo-main.datathon {
		height: 10vh;
	}
	.logo-sub {
		height: 4vh;
	}
	.logo-main.welcomeBanner {
		height: 13vh;
	}
}

@media (max-width: 300px) {
	.logo-main {
		height: 12vh;
	}
	.logo-main.datathon {
		height: 10vh;
	}
	.logo-sub {
		height: 2vh;
	}
}

.form-button {
	font-size: 15pt !important;
}

.form-button:hover {
	border-color: #f27b89;
	color: #ee6978;
}

.small-bear-logo {
	display: block;
	margin-right: auto;
	margin-top: 20px;
	margin-left: auto;
}

.center-container {
	text-align: center;
}

.divider-small {
	width: 20px;
	padding-bottom: 20px;
}

.divider-small.indent {
	margin-left: 3%;
}

.workshop-picture {
	height: auto;
	width: 280px;
	padding-top: 35px;
	padding-bottom: 15px;
}

.navy-text {
	display: inline-block;
	color: #132a41;
}

.navy-text.left {
	text-align: left !important;
}


.navy-text.left.list {
	font-size: 12pt;
}

.navy-text.card {
	padding-left: 15px;
	padding-right: 15px;
}

.navy-text.card.track {
    text-align: justify;
}

.sub-heading-navy {
	margin-left: 3%;
	display: inline-block;
	color: #132a41;
	font-size: 16px;
	text-align: left !important;
}

.sub-heading-navy.large {
	font-size: 28px;
	font-weight: 600;
	text-align: center;
}

.sub-heading-navy.datathon {
	margin-top: 40px;
}

li {
	margin-bottom: 15px;
}

.workshop {
	margin-top: 35px;
	padding-left: 40px;
	padding-right: 40px;
}

.event {
	margin-top: 10px;
	text-align: left;
}

.event h4 {
	font-weight: bold;
}

.event-name {
	display: flex;
	justify-content: space-between;
}

.event-day {
    padding: 50px;
}

.navy {
	background-color: #132a41;
}

.white {
	color: #fff;
}

.logo-hover {
	background-image: url("../images/logos/logosmall.png");
	height: 40px;
	width: 40px;
	opacity: 0.41;
	padding-bottom: 10px;
}

.card-outline {
	padding: 15px;
	height: 150px;
	width: auto;
	text-align: center;
}

.team-image {
	padding: 15px;
	height: 165px;
	width: 165px;
	text-align: center;
}

.team-image-large {
	padding: 15px;
	height: 200px;
	width: 200px;
	text-align: center;
}

.card-datathon {
	padding: 15px;
	height: 300px;
	width: auto;
	text-align: center;
}

.sponsor.large {
	height: auto;
	width: 300px;
	opacity: 1;
	transition: 300ms;
}

.sponsor.small {
	height: auto;
	width: 150px;
	opacity: 1;
	transition: 300ms;
}

.sponsor:hover {
	opacity: 1;
	transition: 300ms;
}

.select-underline {
	display: inline-block;
	color: #132a41;
}

.select-underline:after {
	content: "";
	width: 0px;
	height: 2px;
	display: block;
	background: #ee6978;
	transition: 300ms;
}

a:active {
	color: #ee6978;
	transition: 300ms;
}

.select-underline:hover:after {
	width: 100%;
	color: #0e1c33;
}

.learn-button {
	margin-top: 6px;
	margin-right: 15px;
	margin-left: 0px;
	padding: 2px 8px 1px;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 2px;
	border-radius: 4px;
	text-transform: uppercase;
	text-decoration: none;

	border: 1px solid #0f2031;
	background-color: transparent;
	-webkit-transition: color 400ms ease, border-color 400ms ease;
	transition: color 400ms ease, border-color 400ms ease;
	color: #132a41;
	font-weight: 600;
}

.learn-button:hover {
	border-color: #f27b89;
	color: #ee6978;
}

input[type="checkbox"] {
	display: none;
}

.label-toggle {
	display: block;
	padding: 1rem;
	cursor: pointer;
	transition: all 0.25s ease-out;
}

.label-toggle:hover {
	color: #ee6978;
}

.label-toggle::before {
	content: " ";
	display: inline-block;

	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid currentColor;

	vertical-align: middle;
	margin-right: 0.7rem;
	transform: translateY(-2px);

	transition: transform 0.2s ease-out;
}

.collapsible-content .content-inner {
	background: #e9e9e98f;
	padding: 0.5rem 1rem;
}

.collapsible-content {
	max-height: 0px;
	overflow: hidden;

	transition: max-height 0.7s ease-in-out;
}
.toggle:checked + .label-toggle + .collapsible-content {
	max-height: 350px;
}

.toggle:checked + .label-toggle::before {
	transform: rotate(90deg) translateX(-3px);
}

.service-item h1 {
	text-align: center;

	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

	color: white;
	font-family: "Open Sans", sans-serif;
}

.service-item .section-heading {
	color: #132a41;
	font-weight: 700;
	font-size: 14px;
}

.dropdown {
	position: relative;
    display: inline-block;
    z-index: 1000;
}

.dropdown-content {
	display: none;
	position: absolute;
    right: 0;
    text-align: center;
	background-color: #f9f9f9;
    min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1002;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.justify {
	text-align: justify;
}

.bold {
	font-weight: 700;
}
